<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page Not Found</title>
    <link rel="shortcut icon" href="https://media-bom2-2.cdn.whatsapp.net/v/t61.24694-24/473398010_1163809545457713_2171722800625625261_n.jpg?ccb=11-4&oh=01_Q5AaIaiqLVXj93FyqbrzRiEFt-VTk1budINPCZyJ1X5o756_&oe=67E781EA&_nc_sid=5e03e0&_nc_cat=109" type="image/x-icon">
    <link rel="stylesheet" href="/styles/output.css">
</head>
<body class="flex flex-col justify-center items-center h-screen bg-gray-100 text-gray-800">

    <div class="text-center">
        <h1 class="text-7xl font-bold text-red-500">404</h1>
        <h2 class="text-2xl font-semibold mt-4">Oops! Page Not Found</h2>
        <p class="text-lg mt-2 text-gray-600">The page "<span class="font-bold text-black"><%= url %></span>" does not exist.</p>
        
        <a href="/" class="mt-6 inline-block px-6 py-3 bg-blue-500 text-white text-lg font-medium rounded-lg hover:bg-blue-600 transition">
            Go Home
        </a>
    </div>

    <footer class="absolute bottom-4 text-gray-500 text-sm" onclick="location.href='https://www.instagram.com/pushkar_ps_/'" >
        Developed by <span class="font-bold text-blue-600">Pushkar Ps</span>
    </footer>

</body>
</html>
